	.TITLE PLUG.CFG

.MACRO	.PLUG NAME,STYK,CABLE,TEXT
	NAME:.WORD NAME
.ENDM	.PLUG

.GLOBL DV$PLG
.ITEM DV$PLG,DV$FML,DV$PLG,<.FAMIL ,<PL$X01,PL$X02,PL$X03,PL$X04,PL$X05,PL$X06>>,<‘Ž…„ˆˆ’…‹ˆ (€‡'…Œ›)>

;***************
;€‡'…Œ› ˆ‡„…‹ˆŸ
;***************
.ITEM PL$X01,DV$PLG,$NDX01,<.TYPE NULL,NODNAM>,<€‡'…Œ ˜€‘‘ˆ>
.ITEM PL$X02,DV$PLG,$NDX02,<.TYPE NULL,NODNAM>,<€‡'…Œ ’…•Ž‹Žƒˆ—…‘Šˆ‰>
.ITEM PL$X03,DV$PLG,$NDX03,<.TYPE NULL,NODNAM>,<€‡'…Œ ‚ˆ (ŠŽŽ’Šˆ‰)>
.ITEM PL$X04,DV$PLG,$NDX04,<.TYPE NULL,NODNAM>,<€‡'…Œ ‚ˆ („‹ˆ›‰)>
.ITEM PL$X05,DV$PLG,$NDX05,<.TYPE NULL,NODNAM>,<€‡'…Œ ‘—>
.ITEM PL$X06,DV$PLG,$NDX06,<.TYPE NULL,NODNAM>,<€‡'…Œ „Š>

;***************
;€‡'…Œ› -1096
;***************
.PLUG <X10>,<XP1,XS1>,<CABLE1,<X01,X03,X04,X05>>,<€‡'…Œ ŠŽ’Ž‹‹…€ ˜€‘‘ˆ>
.PLUG <X11>,<XS1,XP1>,<CABLE2,<XS1,XP2>>,<€‡'…Œ ŠŽ’Ž‹‹…€ ˜ˆ›>

;***************
;€‡'…Œ› ˆ‡„…‹ˆŸ
;***************
.PLUG <X01>,<XP1,XS2>,<CABLE1,X10>,<€‡'…Œ ˜€‘‘ˆ>
.PLUG <X02>,<XS1,XP2>,<CABLE2,X11>,<€‡'…Œ ’…•Ž‹Žƒˆ—…‘Šˆ‰>
.PLUG <X03>,<XP1,XS5>,<CABLE1,X10>,<€‡'…Œ ‚ˆ (ŠŽŽ’Šˆ‰)>
.PLUG <X04>,<XP2,XS4>,<CABLE1,X10>,<€‡'…Œ ‚ˆ („‹ˆ›‰)>
.PLUG <X05>,<XP3,XS1>,<CABLE2,X10>,<€‡'…Œ ‘—>
.PLUG <X06>,<XP4,XS3>,<CABLE1,X11>,<€‡'…Œ „Š>


