	.TITLE QBUS.CFG

.MACRO	.SIGN NAME,DATA
	NAME=DATA
;;;	.WORD DATA
.ENDM	.SIGN

.SIGN $SQSIP,1	
.SIGN $SQOUT,2	
.SIGN $SQIN,4
.SIGN $SQBYT,10
.SIGN $SQSIA,20
.SIGN $SQVU ,40
.SIGN $SQZM ,100 
.SIGN $SQRZM,200 
.SIGN $SQPZM,400 
.SIGN $SQZAP,1000
.SIGN $SQAIP,2000
.SIGN $SQASP,4000
.SIGN $SQPZU,10000
.SIGN $SQKPA,20000


;*******************
; ŠŽ”ˆƒ“€–ˆŸ Q-BUS
;*******************
;;;.ITEM QB$FML,QB$FML,QB$FML,<.FAMIL NULL,<QB$DT,QB$STS,QB$SGN,QB$PRC>>,<˜ˆ€ Œˆ>

;***************
; …ƒˆ‘’› Q-BUS
;***************
;;;.ITEM QB$DT,QB$FML,QB$DT,<.FAMIL NULL,<QADRESS,QDATINP,QDATOUT>>,<‘‹“†…›… „€›…>

.GLOBL QADRESS,QDATINP,QDATOUT

.ITEM QADRESS,,,<.WORD 177777>,<€„…‘: >
.ITEM QDATINP,,,<.WORD 177777>,<„€›… ‚‚Ž„: >
.ITEM QDATOUT,,,<.WORD 177777>,<„€›… ‚›‚Ž„: >

;****************
; ‘Ž‘’ŽŸˆŸ Q-BUS
;****************
;;;.ITEM QB$STS,QB$FML,QB$STS,<.FAMIL NULL,<QB$DBG,QB$ERR,QB$ACT,QB$CKL>>,<‘Ž‘’ŽŸˆŸ>

;;;.ITEM QB$DBG,QB$STS,,<.SIGN $SQDBG,0400>,<Ž’‹€„Š€>
;;;.ITEM QB$ERR,QB$STS,,<.SIGN $SQERR,1000>,<Ž˜ˆŠ€>
;;;.ITEM QB$ACT,QB$STS,,<.SIGN $SQACT,2000>,<€Š’ˆ‚…>
;;;.ITEM QB$CKL,QB$STS,,<.SIGN $SQCKL,4000>,<‡€–ˆŠ‹…>

;*************************
; ‘ˆƒ€‹› “€‚‹…ˆŸ Q-BUS
;*************************
;;;.ITEM QB$SGN,,QB$SGN,<>,<‘ˆƒ€‹›>
;;;.FAMIL NULL,<QB$SIP,QB$IN,QB$OUT,QB$BYT,QB$SIA,QB$VU,QB$ZM,QB$RZM,QB$PZM,QB$ZAP,QB$ASP,QB$AIP,QB$PZU,QB$KPA>

.GLOBL $SQASP,$SQSIA

;;;.ITEM QB$SIP,QB$SGN,,<.SIGN $SQSIP,1>	,<Ž’‚>	    ;‘ˆƒ€‹ Ž’‚…’
;;;.ITEM QB$IN ,QB$SGN,,<.SIGN $SQOUT,2>	,<„‡>	    ;‘ˆƒ€‹ ‚›‚Ž„
;;;.ITEM QB$OUT,QB$SGN,,<.SIGN $SQIN,4>	,<„—’>	    ;‘ˆƒ€‹ ‚‚Ž„
;;;.ITEM QB$BYT,QB$SGN,,<.SIGN $SQBYT,10>	,<‡>	    ;‘ˆƒ€‹ €‰’
;;;.ITEM QB$SIA,QB$SGN,,<.SIGN $SQSIA,20>	,<ŽŒ>	    ;‘ˆƒ€‹ ŽŒ…
;;;.ITEM QB$VU ,QB$SGN,,<.SIGN $SQVU ,40>	,<‚“>	    ;‚…˜…… “‘’Ž‰‘’‚Ž
;;;.ITEM QB$ZM ,QB$SGN,,<.SIGN $SQZM ,100> ,<‡Œ>	    ;‡€•‚€’ Š€€‹€
;;;.ITEM QB$RZM,QB$SGN,,<.SIGN $SQRZM,200> ,<‡Œ>	    ;‘ˆƒ€‹ ‡Œ
;;;.ITEM QB$PZM,QB$SGN,,<.SIGN $SQPZM,400> ,<‡>	    ;‘ˆƒ€‹ ‡Œ
;;;.ITEM QB$ZAP,QB$SGN,,<.SIGN $SQZAP,1000>,<‡€…’>   ;‘ˆƒ€‹ ‡€…’ …›‚€ˆ‰
;;;.ITEM QB$AIP,QB$SGN,,<.SIGN $SQAIP,2000>,<€ˆ>	    ;‘ˆƒ€‹ €ˆ
;;;.ITEM QB$ASP,QB$SGN,,<.SIGN $SQASP,4000>,<€‘>	    ;‘ˆƒ€‹ €‘
;;;.ITEM QB$PZU,QB$SGN,,<.SIGN $SQPZU,10000>,<……Œ…™…ˆ… ‡“>
;;;.ITEM QB$KPA,QB$SGN,,<.SIGN $SQKPA,20000>,<Š€>


;****************
; Ž–…„“› Q-BUS
;****************

;;;.ITEM QB$PRC,QB$FML,QB$PRC,<>,<Ž–…„“› Œˆ>
.ITEM QB$FML,,QB$FML,<>,<Ž–…„“› Œˆ>
.FAMIL QBC$,<QBINP,QBOUT,QBIO,QBOUTB,QBIOB,QBPUSK,QBZAHV,QBOSVB,QBPZUNO,QBPZUYES,QBZAPYES,QBZAPNO,QBCLEAR>

