	.TITLE VURG.CFG

;*****************
; …ƒˆ‘’› ‚“-0480
;*****************

.IF EQ RELESE
.IFT
;…‘‹ˆ Ž’‹€„Š€ ’Ž ‚›„…‹ˆ’œ €ŒŸ’œ Ž„ ‚…˜ˆˆ …ƒˆ‘’› - ˆŒˆ’€–ˆŸ
R$272:	.WORD
R$312:	.WORD
R$332:	.WORD
R$352:	.WORD
R$372:	.WORD

.IFF
;Ž…„…‹…ˆ… €„…‘Ž‚ ‚…˜…ƒŽ “‘’Ž‰‘’‚€ ‚“-480
R$272=160272
R$312=160312
R$332=160332
R$352=160352
R$372=160372
.ENDC

.ITEM VURGS$,,VU$RG,<.TYPE NULL,VURGNAM>,<…ƒˆ‘’>

.GLOBL RG$RGA,RG$RGB,RG$RGV,RG$RGG,RG$RGD
.ITEM VU$RG,VU$VU,VU$RG,<.FAMIL VURGS$,<RG$RGA,RG$RGB,RG$RGV,RG$RGG,RG$RGD>>,<…ƒˆ‘’› ‚“-480>

.ITEM RG$RGA,VU$RG,$VURGA,<.WORD R$272,0,-1>,<€>
.ITEM RG$RGB,VU$RG,$VURGB,<.WORD R$312,0,-1>,<>
.ITEM RG$RGV,VU$RG,$VURGV,<.WORD R$332,0,-1>,<‚>
.ITEM RG$RGG,VU$RG,$VURGG,<.WORD R$352,0,-1>,<ƒ>
.ITEM RG$RGD,VU$RG,$VURGD,<.WORD R$372,0,-1>,<„>
